<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/dashboard">Dashboard</a>
    <a href="/buildings/add_building">Add Building</a>
    <%for(var i = 0; i < locations.length; i++){%>
    <div style="background-color:rgba(0, 47, 255, 0.966); color:white; margin:20px">
        <table>
            <tbody>
                <tr>
                    <th>Name:</th>
                    <td><%=locations[i].name%></td>
                    
                    
                </tr>
                <tr>
                    <th>Company:</th>
                    <td><%=locations[i].company%></td>
                    
                </tr>
                <tr>
                    <th>Address:</th>
                    <td>
                        <%=locations[i].address.street%><br>
                        <%if(locations[i].address.aptSuite != ""){%>
                            <%=locations[i].address.aptSuite%><br>
                        <%}%>
                        <%=locations[i].address.city%><br>
                        <%=locations[i].address.state%><br>
                        <%=locations[i].address.zipCode%><br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <%}%>
</body>
</html>