<!--Include Header-->
<%- include('include/_header')%>
<!--Include Header-->

<!--Main-->
<main id="site-main">
    <div class="continer">
        <div>
            <a href="/add-user">
                <span>New User <i></i></span>
            </a>
        </div>
        <div>
            <form id="activesOnlyForm" action="/dashboard" method="POST">
                <input id="activesOnlyCheckBox"type="checkbox" name="activesOnly" value="Active Members Only" ></input>
                <label for="activesOnly">Display All Members</label>
            </form>
        </div>
        <div id="membersDashboardDisplay" class="container-item">
            <form action="/"method="POST">
                <% for(var i = 0; i < users.length; i++){ %>
                
                <div class="user-profile-box" style="cursor: pointer;" onclick="window.location='/dashboard/viewmember?id=<%=users[i].cardID%>';">
                    <table>
                        <tbody class="tableBody">
                            
                                
                                    <tr>
                                    <td style="padding: 80px;">Image</td> 
                                    </tr>
                                    <tr>
                                        <td><%=users[i].lastName +', '+users[i].firstName%></td>
                                    </tr>
                                    <tr>
                                        <td><%=users[i].cardID%></td>
                                    </tr>
                                    
                                
                        </tbody>
                    </table>
                </div>
            
                <% } %>
                
            </form>
        </div>
        
        <!-- <div class="container-item">
            <h3>Images test</h3>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" id="file">
                <label for="file">Choose File</label>
                <input type="Submit" value="submit">
            </form>
        </div> -->
        
    </div>
</main>
<!--/Main-->


<!--Include footer-->
<%- include('include/_footer')%>
<!--Include footer-->
