<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <a href="/dashboard">Dashboard</a>
    <a href="/locations/add_location">Add Location</a>
    <%for(var i = 0; i < locations.length; i++){%>
    <div style="background-color:rgba(0, 47, 255, 0.966); color:white; margin:20px">
        <table>
            <tbody>
                <tr>
                    <th>Name:</th>
                    <td><%=locations[i].name%></td>
                    
                    
                </tr>
                <tr>
                    <th>Building:</th>
                    <td><%=locations[i].building.name%></td>
                    
                </tr>
                <tr>
                    <%if(locations[i].roomNumber != ""){%>
                        <th>Room Number:</th>
                        <td><%=locations[i].roomNumber%></td>
                    <%}%>
                </tr>
                <tr>
                    <%if(locations[i].floorNumber != ""){%>
                        <th>Floor Number:</th>
                        <td><%=locations[i].floorNumber%></td>
                    <%}%>
                </tr>
            </tbody>
        </table>
        <button class="locationDeleteBtnJQ" data-id="<%=locations[i]._id%>">Delete</button>
    </div>
    <%}%>
    <script src="/js/locations.js"></script>
</body>
</html>